/*CSS pag Principal*/

body {
    background-size: 100%;
    /* border: 1px solid orangered; */
    margin: 0;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    
}

header {
    /* border: 3px solid violet; */
    contain: content;
    background-color:orange;
    height: 80px;
    width: 100%;
    margin: 0;
    /*Letras*/
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: darkgray;
    display: flex;
    justify-content: center;
    /*Alineacion Horizontal*/
    align-content: normal;
    flex-wrap: nowrap;
    
}

.boxHeader {
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center; /*Horizontal*/
    flex-wrap: nowrap;
    align-items: center; /*Alineado vertical*/
    margin: 0;
}

a {
    color: black;
    margin: 10px;
    margin-right: 60px;

}

a:hover {
    color: teal;
    
}

.bloque2 {
    box-sizing: border-box;
    /*Para que mantenga el tamaño siempre de los bordes*/
    /* border: 2px solid; */
    background-color:steelblue;
    height: 120px;
    width: 100%; /*Ancho*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /*Alineado vertical*/
    justify-content: center;  /*Alineacion Horizontal*/
    margin: 0;   
}

.logo {
    /* border: 1px solid yellow; */
    width: 30%;
    height: 90%;
    margin-left: 20px;
}

.imgLogo{
    width: 120px;
    height: 110px;
}

.barra {
    border: 3px solid gray;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    margin-left: 50px;
}

.contenedorDibujos{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: nowrap;
    margin-right: 50px;
    justify-content: end;
    width: 35%;
    gap: 20px; /*Separacion entre elementos (dentro de este div*/
}

/* div>div>div{
    margin: 5px;    
} Esto ya no se necesita con (gap)*/

h1{
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72px;
    margin-left: 30%;
}

.Historia{
    /* border: 3px solid blue; */
    height: 600px;
    width: 100%;
    /* margin-top:3px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    
}

.fotoHistoria{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 60%;
    background-image: url(../Imagenes/Exterior_Super.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
}

.galeria{
    /* border: 3px solid black; */
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.cards{
    /* border: 1px solid blue; */
    height: 80%;
    width: 25%;
    margin: 10px;
    border-radius: 25px;
    
}

.gondolas{
    width: 100%;
    height: 100%;
}

.tituloProductos{
    /* border: 1px solid yellow; */
    width: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lista{
    /* border: 3px solid green; */
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.liJS{
    border: 2px solid lightgray;
    color: black;
    margin: 10px;
    width: 20%;
    height: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.boxBtnFinComp{
    border: 1px solid green;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.btnFinCom{
    width: 25%;
    height: 50px;
    background-color: steelblue;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;

}

.btnFinCom:hover{
    border: 2px solid blue;
    color: springgreen;
}

.inputs:focus{
    border-color: blue;
    
}

.superpromo{
    /* border: 3px solid red; */
    width: 100%;
    background-color:lime;
    color:yellow;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

input{
    width: 20%;
    margin: 1px;
}



h2{
    width: 100%;
}

.divForm{
    border: 1px solid blue;
    width: 100%;
}

.form{
    border: 2px solid green;
    height: 100px;
    width: 50%;
    
}



footer{
    background-color: steelblue;
    width: 100%;
    height: 180px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    border-top: 3px solid blue;
}

.divsFoot1{
    /* border: 1PX solid black; */
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.seguinos{
    /* border: 1px solid green; */
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2px;
    font-style: italic;
}

.rsoc{
    /* border: 1px solid red; */
    width: 100px;
    height: 100px;
    margin-left: 70px;
}

.divsFoot2{
    /* border: 1px solid yellow; */
    display:grid;
    justify-content: space-around;
    height: 60px;
}

.copyrightLogo{
    /* border: 1px solid red; */
    width: 50%;
    height: 40px;
    font-size: 38px;
    color: cornsilk;
    display: flex;
    justify-content: right;
    margin-left: 20px;
}

.copyright1{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    font-size: 18px;
}

.copyright2{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    font-size: 14px;
}

.copyright3{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    font-size: 16px;
}

.divsFoot3{
    /* border: 1px solid red; */
    display:grid;
    justify-content: space-around;
    height: 60px;
}

