/*CSS pag Principal*/

body {
    /* background-size: 100%; */
    /* border: 1px solid orangered; */
    margin: 0;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    
}

header {
    /* border: 3px solid violet; */
    contain: content;
    background-color:orange;
    height: 80px;
    width: 100%;
    margin: 0;
    /*Letras*/
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: darkgray;
    display: flex;
    justify-content: center;
    /*Alineacion Horizontal*/
    align-content: normal;
    flex-wrap: nowrap;
    
}

.boxHeader {
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around; /*Horizontal*/
    flex-wrap: nowrap;
    align-items: center; /*Alineado vertical*/
    margin: 0;
}

.SuperSelecto{
    /* border: 1px solid red; */
    width: 20%;
    height: auto;
    margin-right: 10px;
    
}

h1{
    color: darkslategrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
}

h1:hover{
    color: blue;
    cursor: default;
}



a {
    color: black;
    margin: 10px;
    margin-right: 60px;

}

a:hover {
    color: teal;
    
}

.bloque2 {
    box-sizing: border-box;
    /*Para que mantenga el tamaño siempre de los bordes*/
    /* border: 2px solid; */
    background-color:steelblue;
    height: 120px;
    width: 100%; /*Ancho*/
    display: flex;
    flex-wrap: nowrap;
    align-items: center; /*Alineado vertical*/
    justify-content: center;  /*Alineacion Horizontal*/
    margin: 0;   
}

.logo {
    /* border: 1px solid yellow; */
    width: 80%;
    height: auto;
    margin-left: 40px;
}

.imgLogo{
    width: 100%;
    height: 100%;
}

.barra {
    border: 3px solid gray;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    margin-left: 50px;
}

.contenedorDibujos{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: nowrap;
    margin-right: 50px;
    justify-content: end;
    width: 35%;
    gap: 20px; /*Separacion entre elementos (dentro de este div*/
}

/* div>div>div{
    margin: 5px;    
} Esto ya no se necesita con (gap)*/

.tiraHome{
    /* border: 2px solid green; */
    width: 100%;
    height: 265px;
    /* margin-top: 20px; */
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.imgHor{
    width: 60%;

}

.Historia{
    /* border: 3px solid blue; */
    height: 600px;
    width: 100%;
    /* margin-top:3px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    
}

.spHistoria{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    color: darkslategrey;
    font-size: 28px;
    margin-bottom: 3px;
}

.fotoHistoria{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 60%;
    background-image: url(../Imagenes/Exterior_Super.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    
}

.promo30Home{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.imgPromoHome{
    width: 60%;
}

.galeria{
    /* border: 3px solid black; */
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.cards{
    /* border: 1px solid blue; */
    height: 80%;
    width: 25%;
    margin: 10px;
    border-radius: 25px;
    
}

.gondolas{
    width: 100%;
    height: 100%;
}

.tituloProductos{
    /* border: 1px solid yellow; */
    width: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#lista{
    border: 3px solid green;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 5px;
    width: 90%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.liJS{
    border: 2px solid lightgray;
    color: black;
    margin: 10px;
    width: 20%;
    height: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.btnAgregar{
    width: 130px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
    
}

.btnAgregar:hover{
    font-size: 20px;
    background-color: lightblue;
    border-color: skyblue;
}

input{
    width: 20%;
    margin: 1px;
}

.boxBtnFinComp{
    border: 1px solid green;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.btnFinCom{
    width: 25%;
    height: 50px;
    background-color: steelblue;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;

}

.btnFinCom:hover{
    border: 3px solid blue;
    color: orange;
    font-size: 28px
}

.inputs:focus{
    border-color:blue;
    border-radius: 25px;

}

.superpromo{
    /* border: 3px solid red; */
    width: 100%;
    background-color:lime;
    color:yellow;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

h2{
    width: 100%;
    /* margin-bottom: 50px; */
    
}

h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
}

.divForm{
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    
    
}

.form{
    border: 2px solid skyblue;
    width: 40%;
    height:500px;
    display: flex;
    flex-wrap: wrap;
    background-color:gainsboro;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.divFormNom{
    width: 100%;
    
}

form>div>input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    width: 70%;
}

.divFormApellido{
    width: 100%;
}

.divFormEmail{
    width: 100%;
}

.divFormTel{
    width: 100%;
}

.divFormConsul{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.inputFormConsul{
    width: 80%;
    height: 100px;
}

.divEnv{
    /* border: 1px solid yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btnFormEnviar{
    width: 200px;
    height: 50px;
    margin-right: 20px;
    
}

.btnFormEnviar:hover{
    background-color: lightblue;
}



footer{
    background-color: steelblue;
    width: 100%;
    height: 180px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    border-top: 3px solid blue;
}

.divsFoot1{
    /* border: 1PX solid black; */
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.seguinos{
    /* border: 1px solid green; */
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2px;
    font-style: italic;
}

.rsoc{
    /* border: 1px solid red; */
    width: 100px;
    height: 100px;
    margin-left: 70px;
}

.divsFoot2{
    /* border: 1px solid yellow; */
    display:grid;
    justify-content: space-around;
    height: 60px;
}

.copyrightLogo{
    /* border: 1px solid red; */
    width: 50%;
    height: 40px;
    font-size: 38px;
    color: cornsilk;
    display: flex;
    justify-content: right;
    margin-left: 20px;
}

.copyright1{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    font-size: 18px;
}

.copyright2{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    font-size: 14px;
}

.copyright3{
    /* border: 1px solid yellow; */
    margin: 0;
    padding: 0;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cornsilk;
    font-size: 16px;
}

.divsFoot3{
    /* border: 1px solid red; */
    display:grid;
    justify-content: center;
    align-items: end;
    width: 400px;
    height: 80%;
    color: cornsilk;
    font-size: 20px;
   
}

.regFoot{
    color: cornsilk;
    font-size: 30px;
    margin-left: 60px;
    font-style: oblique;
}

.llamanos{
    display: flex;
    justify-content: center;
}

.regFoot:hover{
    color: blue;
   
}

.atc{
    margin-left: 38px;
}